python/.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
*/.ipynb_checkpoints/
outputs/*
data/*.npy
data/*.parquet
data/*.geojson
data/*.csv
data/SIR_mobility_matrices
venv/
env/
.venv/
.env
__pycache__


